@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #343333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 99;

  position: fixed;
}

nav img {
  height: 100px;
 
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links {
  padding: 10px 30px;
  
}

.nav-links a {
  text-decoration: none;
 color: #fff;
  font-size: 1rem;
  font-weight: 700;


}
.nav-links a:hover{
color: red;

}


/* NAVBER RESPONSIVE */
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media screen and (max-width: 1078px) {
  nav {
    height: 70px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  label #btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  nav img {
    height: 50px;
  }
}

@media screen and (max-width: 1074px) {
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #34495e;
    top: 70px;
    left: -100%;
    text-align: center;
    display: block;
    transition: all 0.2s;
  }
  nav ul li {
    margin: 20px 0;
  }
  .nav-menu li a {
    font-size: 25px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }
}
/* 
.login-section{
  margin-left: 100px;
} */



.login-section{
  margin-bottom: 13px;
  padding: 10px;
}

.login-section a {
  text-decoration: none;
}



.login-section a  {
  color:red;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 20px;
}

.login-section a:hover{
  color:white;
  border: 2px solid red;
}

.login-section button{
  background-color: red;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
}


video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;

  z-index: -1;
}

#main {
  position: relative;

  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 6vw;
  font-weight: 900;
  color: #fff !important;
}

#page1 h2 {
  font-size: 2vw;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff !important;
}

#page1 p {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
}

@media screen and (max-width: 1068px) {
  #page1 h1 {
    font-size: 8vw;
    font-weight: 900;
  }

  #page1 h2 {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  #page1 h1 {
    font-size: 10vw;
    font-weight: 900;
  }
  #page1 h2 {
    font-size: 5vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 4vw;
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #000; */
  /* z-index: 10; */
}

#cursor {
  height: 15px;
  width: 15px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 100px;
  width: 100px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  filter: blur(20px);
  z-index: 9;
}

#search-input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  font-size: 1rem;
  border: none;
}

#search button {
  background-color: red;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

#search button:hover {
  background-color: rgb(179, 0, 0);
}

#search {
  margin-top: 30px;
}

@media screen and (max-width: 524px) {
  #search-input {
    width: 95%;
  }
  #search button {
    margin-top: 20px;
  }
}

.container {
  display: grid;
  place-items: center;
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slide-container {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
}

.slide-image {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}

.slide-image img {
  width: 100%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;

  transition: transform 1s;
}

.slide-image img:hover {
  transform: scale(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@media screen and (max-width: 774px) {
  .slide-image img {
    height: 250px;
  }
}

#page2 h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

#page2 h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.readmore {
  /* padding: 0 50px; */
  width: 85%;
  margin: auto;
  color: #fff;
}

.card-section {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10px;
  /* height: 300px; */
  margin-top: 20px;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}

.card img {
  height: 100%;
  object-fit: cover;
  position: center;
}

.card-body {
  position: absolute;
  text-align: center;
}

.card-body h2 {
  font-size: 3vw !important;
  position: relative;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .card-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    /* background-color: red !important; */
    /* position: relative; */

    .card {
      position: relative;
      width: 90vw !important;
      margin: auto;
    }
  }
  .card img {
    position: absolute;
  }
  .card-body h2 {
    font-size: 7vw !important;
    position: relative;
  }
}

.international {
  margin-top: 50px;
}

summary {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
.why-section {
  width: 90%;
  /* height: 300px; */
  margin: auto;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

.card1 {
  height: 370px;
  width: 250px;
  /* background-color: red; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  border: 2px solid #fff;
  margin-bottom: 50px;
  box-shadow: 10px 10px 6px #484848;
}

.card1:hover {
  background-color: #df6329;
  color: white;
  transition: 0.5s ease-in;
}

.card1 img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
}
.card1 p {
  width: 90%;
  position: relative;
  margin: auto;
}
.card1 h4 {
  padding: 20px 10px 0 10px;
  margin-top: 10px;
  color: #fff !important;
}
.why-section h1 {
  color: #fff;
  font-size: 2rem;
  padding: 50px 20px 20px 20px;
}

.card1-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1112px) {
  .card1-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .card1 {
    height: 250px;
    width: 90%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .card1 h4 {
    padding: 10px;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }

  .card1 p {
    width: 100%;
  }
}

@media screen and (max-width: 454px) {
  .card1 {
    height: 350px;
    width: 80%;

    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }

  .card1 p {
    width: 100%;
    position: relative;
    /* margin: auto; */
    padding: 10px;
  }

  .card1 h4 {
    padding: 0;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }
  card1 p {
    width: 100%;
  }
}

#page4 {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

/* contact form css in home page  */

/* color-gray: #515151;
color-black: #000; */

.form-main {
  background: linear-gradient(to bottom, #00000024, #00000024),
    url("/Images/tra.jpg") no-repeat center;
  background-size: cover;
  min-height: 50vh;
  display: flex;

  /* flex-direction: column; */
  align-items: center;

  justify-content: space-between;
  .main-wrapper {
    border-radius: 10px;
    padding: 30px;
    margin: 5vw;
    width: 30%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #ffffff85;
    @media screen and (max-width: 991px) {
      width: 70%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }

    .form-head {
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0 25px;
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid color-black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid color-gray;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: color-gray;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid color-black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
          box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid color-gray;
          }

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: color-gray;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        .form-textarea-label {
          position: absolute;
          left: 25px;
          top: 30%;
          transform: translateY(-70%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }
  }
}

.form-main h1 {
  width: 50%;
  color: white;
  margin-left: 3vw;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 10px #717070;
}
@media screen and (max-width: 654px) {
  .form-main {
    flex-direction: column;
  }

  .form-main h1 {
    width: 90%;
    margin: auto;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0;
}
.btn-wrap button {
  padding: 0 32px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 5px 5px #00000020;
}
.btn-wrap button:hover {
  border: 1px solid #777272;
  background: #ff3300;
  color: #fff;
}
/* contact form css in home page  */

/* FOOTER  */

:root {
  --white: #fff;
  --black: #000;
  --dark: #1e1e1e;
  --gray: rgba(1, 1, 1, 0.6);
  --lite: rgba(255, 255, 255, 0.6);
  --primary: #002347;
  --secondary: #fdc632;
}

/***************************
          DEFAULT
****************************/

a {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

a,
button {
  transition: 0.5s;
}

a,
p {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: 600;
}

a,
button,
input,
textarea,
select {
  outline: none !important;
}

fieldset {
  border: 0;
}

.title {
  color: var(--primary);
}

.flex,
.fixed_flex {
  display: flex;
  /* flex-direction: column; */
}

.subcribe-sec {
  display: flex;
}

@media screen and (max-width: 504px) {
  .subcribe-sec {
    flex-direction: column;
  }
}

@media screen and (max-width: 388px) {
  .subcribe-sec input {
    width: 100%;
  }
}

.flex-content {
  width: 100%;
  position: relative;
}

.padding_1x {
  padding: 2rem;
}

.padding_2x {
  padding: 2rem;
}

.padding_3x {
  padding: 3rem;
}

.padding_4x {
  padding: 4rem;
  background-color: #000;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.btn_1 {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

.btn_1:hover {
  background-color: transparent;
  color: var(--primary);
}

.btn_2 {
  /* border:1px solid var(--secondary); */
  background-color: var(--secondary);
  color: #fff !important;
  font-weight: 500;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.btn_2:hover {
  border: 1px solid var(--primary);
  background-color: red !important;
  color: var(--secondary);
}

@media (max-width: 920px) {
  .flex {
    flex-wrap: wrap;
  }

  .padding_1x,
  .padding_2x,
  .padding_3x,
  .padding_4x {
    padding: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }

  a,
  p {
    font-size: 12px;
  }
}

/***************************
             FOOTER
****************************/
footer {
  background-color: var(--primary);
  color: var(--lite);
}

footer h3 {
  color: var(--white);
  margin-bottom: 1.5rem;
}

footer a {
  color: var(--lite);
  display: block;
  margin: 15px 0;
}

footer a:hover {
  color: var(--white);
}

footer fieldset {
  padding: 0;
}

footer fieldset input {
  background-color: #5a5a5a;
  border: 0;
  color: var(--lite);
  padding: 1rem;
}

footer fieldset .btn {
  border-radius: 0;
  border: 0;
}

footer fieldset .btn_2:hover {
  background-color: var(--secondary);
  border: 0;
  color: var(--primary);
}

footer .flex:last-child {
  align-items: center;
}

footer .flex:last-child .flex-content:last-child {
  text-align: right;
}

footer .flex:last-child p {
  color: var(--white);
}

footer .flex:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #334f6c;
  color: var(--white);
  padding: 0.5rem;
  margin-right: 3px;
  text-align: center;
}

footer .flex:last-child a:hover {
  transform: scale(1.5);
  border-radius: 50%;
  border: 0.5px solid #fff;
  background-color: #000;
}

@media (max-width: 1100px) {
  footer .flex:first-child {
    flex-wrap: wrap;
  }

  footer .flex:first-child .flex-content {
    flex: 1 1 40%;
  }
}

@media (max-width: 920px) {
  footer .flex:last-child .flex-content:last-child {
    text-align: left;
  }
}

@media (max-width: 320px) {
  footer .flex:first-child .flex-content {
    flex: 1 1 100%;
  }
}

.nav-link{
  font-size: 1rem;
  font-weight: 700;
  color: #fff !important;
}

.nav-link:hover{
color: red !important;
}

   
