<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/footer.css">

<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
  
  
  nav {
    height: 100px;
    width: 100%;
    background-color: #343333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 99;
    position: sticky;
  }
  nav img {
    height: 100px;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .nav-links {
    padding: 10px 30px;

  }

  .nav-link {
    font-size: 1rem;
    font-weight: 700;
    color: #fff !important;
  }

  .nav-link:hover {
    color: red !important;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }

  .nav-links a:hover {
    color: red;

  }


  .login-section{
  margin-bottom: 13px;
  padding: 10px;
  width: auto;
  white-space: nowrap;
  margin-left: 20px;
}
.loginClass {
  text-decoration: none;
}
.loginClass {
  color:red;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 20px;
}
.loginClass:hover{
  color:white;
  border: 2px solid red;
}
 .buttonClass button{
  background-color: red;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 5px;
}
.buttonClass button:hover{
    background-color: rgb(205, 10, 10);
  }
  
  label #btn,
  label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }








  @media screen and (max-width: 1282px) {
    nav {
      height: 70px;
      justify-content: space-between;
      /* flex-direction: row-reverse; */
      background-color:#292a2a !important;
    
    }
  
    
  nav img{
    height: 100px !important;
   
  }
  nav{
    overflow: hidden;
  }
  
  
    label #btn {
      display: block;
    }
  
    .nav-menu {
      display: none;
    }
  
  
  }

  @media screen and (max-width: 1282px) {
 
    .nav-menu {
      position: fixed;
      width: 100%;
      height: 60%;
      background: #5c5e5f;
      top: 70px;
      left: -100%;
      text-align: start;
      display: block;
      transition: all 0.2s;
      border-bottom-right-radius: 100%;
    }
    nav ul li {
      margin: 20px 0;
    }
    .nav-menu li a {
      font-size: 15px;
    }

  
    #check:checked ~ ul {
      left: 0;
    }
  
    #check:checked ~ label #btn {
      display: none;
    }
  
    #check:checked ~ label #cancel {
      display: block ;
    }
  }
  

  @media screen and (max-width:506px) {
    nav img{
      display: none;
    }

    nav{
      
      padding: 10px;  
  }
  }

  @media screen and (max-width:360px) {

   
      .login-section button{
        font-size: 15px !important;
      }
      .loader-section a{
      margin: 0;
      }
      .login-section{
        padding: auto;
      }
      .login-section a:hover {
        color: white;
        border: 2px solid red;
      }
    
  }

  


/* For Navber  */




.carousel-item {
   height: 70vh ;

}
@media screen and (max-width:960px) {
    .carousel-item {
   height: 100% ;

}
}

.text{
  width: 80%;
 margin: auto;
 text-align: center;
}

.text h2{
  font-size: 3vw;
  font-weight: 600;
  margin-top: 20px;
}

.text p{
  font-size: 1.5vw;
  margin-top: 30px;
}


@media screen and (max-width:776px) {
  .text{
  width: 85%;
}

.text h2{
  font-size: 4vw;
}

.text p{
  font-size: 2.5vw;

}
}



@media screen and (max-width:524px) {
  .text{
  width: 90%;
}

.text h2{
  font-size: 6vw;
}

.text p{
  font-size: 4vw;

}
}


/* css for stats counter  */
.statistic-section {
     padding-top: 70px;
     padding-bottom: 70px;
     background: #363434;  /* fallback for old browsers */
 
   
}

.count-title {
    font-size: 50px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
	  text-align: center;
	  font-weight: bold;
    color: #fff;
}

.stats-text {
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
	  color: #fff;
	  text-transform: uppercase;
	  font-weight: bold;
}

.stats-line-black {
	margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
}
.stats-icon {
	  font-size: 35px;
	  margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}

@media (max-width: 992px) {
	.counter {
		margin-bottom: 40px;
	}
}

.counter img{
  height: 100px;
}





</style>


</head>
<body>
    

<!-- NAVBER SECTION  -->
  <nav>
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <a href="/"><img src="/Images/explore logo.png" alt="logo-image" /></a>
      
      <ul class="nav-menu">
        
         <li class="nav-item dropdown px-4 fw-bold">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INDIAN 
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li class="dropdown-item text-white fw-bold bg-danger"> INDIAN DESTINATIONS </li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold" href="/andaman">Andaman</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="/gujrat">Gujrat</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="/kerala">Kerala</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="/jammu">Jammu</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="/kasmir">Kasmir</a></li>
                           <li><a class="dropdown-item text-white fw-bold" href="/rajasthan">Rajasthan</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INTERNATIONAL
          </a>
          <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
             <li class="dropdown-item text-white bg-danger fw-bold" > INTERNATIONAL DESTINATIONS</li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold warning" href="/america">America</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="/canada">Canada</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="/africa">South Africa</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="/europe">Europe</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="/austrelia">Australia</a></li>
                         
          </ul>
        </li>

        <li class="nav-links"><a href="/nearbyPlaces">HOTELS</a></li>
         <li class="nav-links"><a href="/chat">CHATS</a></li>
        <li class="nav-links"><a href="/blog">BLOGS</a></li>
        <li class="nav-links"><a href="/about">ABOUT</a></li>
         <li class="nav-links"><a href="/contact">CONTACT</a></li>
        

        



        

        <!-- </li> -->
      </ul>
      <!-- LOGIN PORTION  -->
      <div class="login-section">
        <a class="loginClass" class="login" href="/login">Log in </a>
       <a class="buttonClass" href="/login"><button type="submit" >Sign up</button></a> 
      </div>
    </nav>
  <!-- NAVBER SECTION END -->



<!-- CAROUSEL ITEM  -->
<div id="carouselExampleIndicators" class="carousel slide m-2  about" data-bs-ride="carousel ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/Images/aboutim1ge1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/Images/aboutimage2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/Images/aboutimage3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="text">
    <h2>Building the Holiday Eco-system for Happy Travelers</h2>
    <p>Founded in 2023, Explore is one of the India’s online holiday marketplace bringing both the travelers, and trusted & expert travel agents on a common platform. With the recent Series C funding of $12 Million from Nandan Nilekani and Sanjeev Aggarwal backed Fundamentum in early 2018, it is on its way of encompassing all the components of holiday eco-system through its highly innovative and technology-focused product. Besides, having already raised close to a cumulative funding of $20 Million from SAIF Partners, Bessemer Venture Partners and RB Investments put together, the company has already achieved operating profitability, and on track to become EBITDA profitable by next year.</p>
  </div>




<!-- For Statistics Counter  -->
<section id="statistic" class="statistic-section one-page-section">
  <div class="container">
      <div class="row text-center">
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                 <img src="/Images/family.png" alt="">
                  <h2 class="timer count-title count-number">1000+</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Travelers Monthly Visiting us</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                <img src="/Images/travel-map.png" alt="">
                  <h2 class="timer count-title count-number">650+
                  </h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Network of Expert Travel Agents</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                 <img src="/Images/tour-guide.png" alt="">
                  <h2 class="timer count-title count-number">65+</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Destination Servered Worldwide</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                  <img src="/Images/travel-agency.png" alt="">
                  <h2 class="timer count-title count-number">100%</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Company Supports</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- FOOTER  -->



{{>generalFooter}}




</body>
</html>