<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Font Awesome CSS (for icons) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/airplane.png" type="logo">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">



    <title>Travel Blogs</title>
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/navstyle.css">
    <link rel="stylesheet" href="css/footer.css">


    <style>
        .login-section{
             width: auto;
  white-space: nowrap;
  margin-left: 20px;
        }

    .blog-heading h3{
        margin-top: 20px;    }

    </style>
</head>

<body>

    {{>navber}}
   

    <div class="blog-heading">
        <h3><u>Travel News</u></h3>
    </div>

    <div id="items">
        <!-- list items here -->

        <!-- Item 1 -->
        <div class="item">
            <div class="blog-container">
                <!-- box - A1  -->
                <div class="blog-box">
                    <!-- img -->
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-august/">
                        <div class="blog-img">
                            <img src="Images/blog/blog-A1.jpg" alt="Blog Image">
                    </a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-august/" class="blog-title">Best Places To Visit In India In August !</a>
                    <p>India is a land of diverse landscapes and vibrant cultures. As August unfurls its mesmerising
                        charm, every part of the country is filled with beauty worth witnessing.</p>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-august/">Read More</a>
                </div>

            </div>
            <!-- box - A2  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/biyadhoo-island/"><img src="Images/blog/blog-A2.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/biyadhoo-island/" class="blog-title">Most Beautiful Islands In The Maldives: A Visual Journey</a>
                    <p>The Maldives, a tropical paradise nestled in the Indian Ocean, is a breathtaking archipelago
                        that captivates the hearts of travellers worldwide. Comprising 26 atolls and over 1,000
                        coral islands.</p>
                    <a href="https://traveltriangle.com/blog/biyadhoo-island/">Read More</a>
                </div>

            </div>
            <!-- box - A3  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/malls-in-singapore/"><img src="Images/blog/blog-A3.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/malls-in-singapore/" class="blog-title">Exploring The Best Shopping Destinations In Singapore</a>
                    <p>Singapore, a gleaming gem in Southeast Asia, has earned a well-deserved reputation as a
                        Shopper’s Paradise. Its cosmopolitan streets are adorned with skyscrapers, lush green parks,
                        and an array of…</p>
                    <a href="https://traveltriangle.com/blog/malls-in-singapore/">Read More</a>
                </div>

            </div>
        </div>

        <div class="blog-container">
            <!-- box - A4  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/vietnam-shopping/"><img src="Images/blog/blog-A4.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/vietnam-shopping/" class="blog-title">Ultimate Guide To Shopping In Vietnam: Top 10 Destinations And
                        Insider Tips</a>
                    <p>Vietnam is a land of breathtaking landscapes, rich history, and a vibrant tapestry of
                        cultures. Among its many charms, Vietnam offers a shopping experience like no other, where
                        the traditional…</p>
                    <a href="https://traveltriangle.com/blog/vietnam-shopping/">Read More</a>
                </div>

            </div>
            <!-- box - A5  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/resorts-near-munnar/"><img src="Images/blog/blog-A5.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/resorts-near-munnar/" class="blog-title">Unwind In Tranquillity: The Best Resorts In Munnar For A Relaxing
                        Retreat</a>
                    <p>Are you yearning for a blissful escape from the chaos of everyday life? Look no further than
                        Munnar, a serene hill station nestled amidst the picturesque Western Ghats in Kerala</p>
                    <a href="https://traveltriangle.com/blog/resorts-near-munnar/">Read More</a>
                </div>

            </div>
            <!-- box - A6  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://wanderon.in/blogs/local-food-in-leh-ladakh"><img src="Images/blog/blog-A6.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="#https://wanderon.in/blogs/local-food-in-leh-ladakh" class="blog-title">A Culinary Adventure In Ladakh: Must-Try Dishes For Every
                        Foodie</a>
                    <p>Nestled among the towering Himalayas, Ladakh is not only a haven for adventurers but also a
                        paradise for food enthusiasts. The food of Ladakh is as diverse and captivating as…</p>
                    <a href="https://wanderon.in/blogs/local-food-in-leh-ladakh">Read More</a>
                </div>

            </div>
        </div>
        <div class="blog-container">
            <!-- box - A7  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.sotc.in/blog/indian-holidays/unravelling-the-mystique-of-coorgs-coffee-plantations"><img src="Images/blog/blog-A7.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.sotc.in/blog/indian-holidays/unravelling-the-mystique-of-coorgs-coffee-plantations" class="blog-title">Unravelling The Mystique Of Coorg’s Coffee Plantations: A Glimpse Into India’s Coffee Capital</a>
                    <p>Coorg is a mesmerising land of lush greenery, rolling hills, and aromatic coffee plantations.
                        Situated in Karnataka, one of the top coffee-producing states in India, Coorg is a haven
                        for…</p>
                    <a href="https://www.sotc.in/blog/indian-holidays/unravelling-the-mystique-of-coorgs-coffee-plantations">Read More</a>
                </div>

            </div>
            <!-- box - A8  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.tourmyindia.com/blog/best-trekking-places/"><img src="Images/blog/blog-A8.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.tourmyindia.com/blog/best-trekking-places/" class="blog-title">Trekking In India: Best Trails For Adventure Enthusiasts</a>
                    <p>Are you an adventure enthusiast seeking to immerse yourself in the stunning natural beauty of
                        India? If so, then trekking is undoubtedly the perfect way for you to embark on…</p>
                    <a href="https://www.tourmyindia.com/blog/best-trekking-places/">Read More</a>
                </div>

            </div>
            <!-- box - A9  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.munnar.holiday/munnartourism/munnar-tea-estates/"><img src="Images/blog/blog-A9.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.munnar.holiday/munnartourism/munnar-tea-estates/" class="blog-title">Munnar Tea Gardens: Experience The Finest Tea Estates In India</a>
                    <p>Munnar, a picture-perfect hill station nestled amidst the misty Western Ghats of Kerala,
                        India, is adorned with emerald green hills, enchanting vistas, and vibrant meadows. However,
                        your Munnar tour cannot…</p>
                    <a href="https://www.munnar.holiday/munnartourism/munnar-tea-estates/">Read More</a>
                </div>

            </div>
        </div>
    </div>


    <!-- Item 2 -->

    <div class="item">
        <div class="blog-container">
            <!-- box - B1  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/places-to-visit-in-monsoon-in-maharashtra/"><img src="Images/blog/blog-B1.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/places-to-visit-in-monsoon-in-maharashtra/" class="blog-title">Top 15 Delightful Monsoon Destinations In Maharashtra</a>
                    <p>Monsoon in Maharashtra is a magical time when the state transforms into a lush green
                        paradise. The Western Ghats, with their lofty peaks and cascading waterfalls, come alive
                        with the…</p>
                    <a href="https://traveltriangle.com/blog/places-to-visit-in-monsoon-in-maharashtra/">Read More</a>
                </div>

            </div>
            <!-- box - B2  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.thomascook.in/blog/places-to-visit-near-pune-in-monsoon"><img src="Images/blog/blog-B2.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.thomascook.in/blog/places-to-visit-near-pune-in-monsoon" class="blog-title">Top 10 Beautiful Places To Visit Near Pune In Monsoon</a>
                    <p>As the scorching summer heat subsides and the first drops of rain touch the earth, the
                        landscapes near Pune undergo a breathtaking transformation. Nestled amidst the majestic
                        Sahyadri Mountains</p>
                    <a href="https://www.thomascook.in/blog/places-to-visit-near-pune-in-monsoon">Read More</a>
                </div>

            </div>
            <!-- box - B3  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-meghalaya/"><img src="Images/blog/blog-B3.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-meghalaya/" class="blog-title">Beautiful Places To Visit In Meghalaya For A Memorable
                        Vacation</a>
                    <p>Nestled in the northeastern part of India, Meghalaya is a beautiful state that enthrals
                        visitors with its pristine natural beauty. Aptly known as the “abode of clouds,” Meghalaya
                        has verdant…</p>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-meghalaya/">Read More</a>
                </div>

            </div>
        </div>

        <div class="blog-container">
            <!-- box - B4  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.nayatrip.com/blog/top-deserts-in-india/"><img src="Images/blog/blog-B4.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.nayatrip.com/blog/top-deserts-in-india/" class="blog-title">Top Deserts In India That You Should Visit</a>
                    <p>India is a country of diverse landscapes and cultural heritage, and it is also home to some
                        of the most captivating and mesmerizing deserts in the world. These deserts offer</p>
                    <a href="https://www.nayatrip.com/blog/top-deserts-in-india/">Read More</a>
                </div>

            </div>
            <!-- box - B5  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/mysterious-places-in-india/"><img src="Images/blog/blog-B5.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/mysterious-places-in-india/" class="blog-title">Mysterious Places In India To Visit
                    </a>
                    <p>India, a country steeped in ancient traditions and diverse folklore, boasts a plethora of
                        mysterious destinations that ignite the imagination and curiosity of travellers from all
                        around the country. From…</p>
                    <a href="https://traveltriangle.com/blog/mysterious-places-in-india/">Read More</a>
                </div>

            </div>
            <!-- box - B6  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.fabhotels.com/blog/street-food-in-bangalore/"><img src="Images/blog/blog-B6.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.fabhotels.com/blog/street-food-in-bangalore/" class="blog-title">List Of Places To Enjoy Street Food In Bangalore For Food
                        Lovers</a>
                    <p>Welcome to Bangalore, a food lover’s paradise! This bustling city in India is not only famous
                        for its vibrant culture and technology hubs but also for its delectable street food</p>
                    <a href="https://www.fabhotels.com/blog/street-food-in-bangalore/">Read More</a>
                </div>

            </div>
        </div>
        <div class="blog-container">
            <!-- box - B7  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-june/"><img src="Images/blog/blog-B7.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-june/" class="blog-title">Best Places To Visit In India In June</a>
                    <p>India, a land of vibrant cultures and diverse landscapes, transforms into a mesmerising
                        paradise during the monsoon season. With lush greenery, gushing waterfalls, and refreshing
                        weather, there are various places…</p>
                    <a href="https://www.fabhotels.com/blog/places-to-visit-in-june/">Read More</a>
                </div>

            </div>
            <!-- box - B8  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://moustachescapes.com/blog/winter-is-here-so-are-these-top-8-winter-treks-of-india/"><img src="Images/blog/blog-B8.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://moustachescapes.com/blog/winter-is-here-so-are-these-top-8-winter-treks-of-india/" class="blog-title">Top Treks In India To Visit In Winter</a>
                    <p>India’s diverse and awe-inspiring landscape is a magnet for adventurous souls who want to
                        embark on unforgettable trekking in India journeys. From the snow-capped peaks of the mighty
                        Himalayas to</p>
                    <a href="https://moustachescapes.com/blog/winter-is-here-so-are-these-top-8-winter-treks-of-india/">Read More</a>
                </div>

            </div>
            <!-- box - B9  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/trekking-destinations-near-mumbai-and-pune/"><img src="Images/blog/blog-B9.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/trekking-destinations-near-mumbai-and-pune/" class="blog-title">Amazing Treks Near Mumbai</a>
                    <p>Trekking near Mumbai is a great way to escape the hustle and bustle of the city and explore
                        the scenic beauty of the Western Ghats. There are many different trekking</p>
                    <a href="https://traveltriangle.com/blog/trekking-destinations-near-mumbai-and-pune/">Read More</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Item 3 -->

    <div class="item">
        <div class="blog-container">
            <!-- box - C1  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.tourism-of-india.com/blog/chardham-yatra-routes/"><img src="Images/blog/blog-C1.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.tourism-of-india.com/blog/chardham-yatra-routes/" class="blog-title">Discover The Best Routes For Your Char Dham Yatra</a>
                    <p>The Char Dham Yatra includes visiting four pilgrimage sites in Uttarakhand—Yamunotri, Gangotri,
                        Kedarnath, and Badrinath. Anyone who can finish it after embarking on this particular journey is
                        considered lucky. That’s</p>
                    <a href="https://www.tourism-of-india.com/blog/chardham-yatra-routes/">Read More</a>
                </div>

            </div>
            <!-- box - C2  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.ju-lehadventure.com/ladakh-information/food-ladakh-10-must-try-local-dishes-and-drinks"><img src="Images/blog/blog-C2.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.ju-lehadventure.com/ladakh-information/food-ladakh-10-must-try-local-dishes-and-drinks" class="blog-title">Savouring The Flavours Of Ladakh: 10 Must-Try Food In Ladakh</a>
                    <p>Are you ready to discover the enchanting land of Ladakh and its culinary treasures? Picture
                        yourself standing amidst the breathtaking landscapes of the Himalayas, where snow-capped peaks
                        touch the sky</p>
                    <a href="https://www.ju-lehadventure.com/ladakh-information/food-ladakh-10-must-try-local-dishes-and-drinks">Read More</a>
                </div>

            </div>
            <!-- box - C3  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.thomascook.in/blog/the-ultimate-travel-guide-to-scenic-dubai-miracle-garden"><img src="Images/blog/blog-C3.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.thomascook.in/blog/the-ultimate-travel-guide-to-scenic-dubai-miracle-garden" class="blog-title">Gardens To Visit In Dubai During Summers</a>
                    <p>Visiting Dubai for the first time? You will be astonished by how many parks and green areas there
                        are to explore in the city. In fact, the majority of them…</p>
                    <a href="https://www.thomascook.in/blog/the-ultimate-travel-guide-to-scenic-dubai-miracle-garden">Read More</a>
                </div>

            </div>
        </div>

        <div class="blog-container">
            <!-- box - C4  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.indianholiday.com/blog/adventure-activities-in-maldives/"><img src="Images/blog/blog-C4.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.indianholiday.com/blog/adventure-activities-in-maldives/" class="blog-title">Top 10 Adventurous Activities To Do In Maldives</a>
                    <p>The Maldives, a tropical island in the Indian Ocean, is home to some of the best white sand
                        beaches. The crystal clear turquoise water of the sea and the blue</p>
                    <a href="https://www.indianholiday.com/blog/adventure-activities-in-maldives/">Read More</a>
                </div>

            </div>
            <!-- box - C5  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://traveltriangle.com/blog/thailand-temples/"><img src="Images/blog/blog-C5.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://traveltriangle.com/blog/thailand-temples/" class="blog-title">Top 10 Temples In Thailand You Must Visit</a>
                    <p>Thailand, known as the “Land of Smiles,” is a country rich in cultural heritage and religious
                        traditions. One of the most prominent aspects of Thai culture is its temples, which…</p>
                    <a href="https://traveltriangle.com/blog/thailand-temples/">Read More</a>
                </div>

            </div>
            <!-- box - C6  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.fabhotels.com/blog/weekend-getaways-near-mumbai/"><img src="Images/blog/blog-C6.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.fabhotels.com/blog/weekend-getaways-near-mumbai/" class="blog-title">Long Weekend Getaways Near Delhi, Mumbai, Bangalore In 2023</a>
                    <p>Are you eagerly awaiting the upcoming 3 day long weekend in 2023? This is the perfect occasion to
                        break away from the monotony of daily life and embark on a…</p>
                    <a href="https://www.fabhotels.com/blog/weekend-getaways-near-mumbai/">Read More</a>
                </div>

            </div>
        </div>
        <div class="blog-container">
            <!-- box - C7  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.thomascook.in/blog/top-5-adventure-sports-and-activities-in-rishikesh"><img src="Images/blog/blog-C7.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.thomascook.in/blog/top-5-adventure-sports-and-activities-in-rishikesh" class="blog-title">Rishikesh: The Ultimate Destination For Adventure Sports And
                        Activities</a>
                    <p>Rishikesh is a small town located in the northern state of Uttarakhand in India. It is situated
                        in the foothills of the Himalayas. Due to its serene surroundings and abundance…</p>
                    <a href="https://www.thomascook.in/blog/top-5-adventure-sports-and-activities-in-rishikesh">Read More</a>
                </div>

            </div>
            <!-- box - C8  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.thomascook.in/blog/7-magnificent-temples-in-mysore"><img src="Images/blog/blog-C8.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.thomascook.in/blog/7-magnificent-temples-in-mysore" class="blog-title">The Famous Mysore Temples To Explore For A Spiritual And Religious
                        Experience</a>
                    <p>Mysore, also known as Mysuru, is a city located in the southern state of Karnataka in India. It
                        is a popular destination for tourists and pilgrims due to its rich…</p>
                    <a href="https://www.thomascook.in/blog/7-magnificent-temples-in-mysore">Read More</a>
                </div>

            </div>
            <!-- box - C9  -->
            <div class="blog-box">
                <!-- img -->
                <div class="blog-img">
                    <a href="https://www.clubmahindra.com/blog/places-to-visit/6-best-international-destinations-to-visit-in-may"><img src="Images/blog/blog-C9.jpg" alt="Blog Image"></a>
                </div>
                <!-- text -->
                <div class="blog-text">
                    <span>17 October 2023</span>
                    <a href="https://www.clubmahindra.com/blog/places-to-visit/6-best-international-destinations-to-visit-in-may" class="blog-title">Best International Destinations To Visit In May</a>
                    <p>May is a great time to travel and explore the world outside of India. The weather is mild in most
                        parts of the world, making it the perfect time to…</p>
                    <a href="https://www.clubmahindra.com/blog/places-to-visit/6-best-international-destinations-to-visit-in-may">Read More</a>
                </div>

            </div>
        </div>
    </div>


<!-- Pagination -->

    <div id="pagination"></div>


    <!-- Newsletter Section -->


    <div class="newslatter">
        <div class="subscribe">
            <div class="fff">
                <h2 class="subscribe__title">Subscribe To Our Blog</h2>
                <p class="subscribe__copy">Subscribe to keep up with fresh news and exciting updates. We promise not to
                    spam you!</p>
            </div>
            <div class="form">
                <input type="email" class="form__email" placeholder="Enter your email address" />
                <a href="#"><button class="form__button">Subscribe</button></a>
            </div>
        </div>
    </div>


    <!-- Back to Top Button -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i> Go to Top</button>

{{>generalFooter}}

    <!-- Script Link -->
    <script src="javasript/script1.js"></script>

</body>

</html>