<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking</title>
    <link rel="stylesheet" href="css/booking.css">
</head>

<body>
    <div class="login-box">
        <p>Travel Booking Form</p>


        <form action="/post" method="post" >
            <div class="flex">
                <div class="user-box">
                    <input required="" name="firstName" type="text">
                    <label>First Name</label>
                </div>
                <div class="user-box">
                    <input required="" name="lastName" type="text">
                    <label>Last Name</label>
                </div>
            </div>

            <div class="user-box">
                <input required="" name="destination" type="text">
                <label>Destination</label>
            </div>

            <div class="user-box">
                <input required="" name="phoneNumber" maxlength="10">
                <label>Phone Number</label>
            </div>

            <div class="user-box">
                <input required="" name="numberOfGuests" maxlength="2">
                <label>Number of Guests</label>
            </div>

            <div class="elem-group inlined">
                <label for="checkin-date" class="pp">Check-in</label>
                <input type="date" id="checkin-date" name="checkInDate" required>
            </div>

            <div class="elem-group inlined">
                <label for="checkout-date" class="pp">Check-out</label>
                <input type="date" id="checkout-date" name="checkOutDate" required>
            </div>

            <div class="textbx">
                <label for="textbox">Special Request</label>
                <div class="group">
                    <textarea placeholder="Enter any Special Request or Comments" id="comment" name="specialRequest" rows="3"
                        required=""></textarea>

            <button type="submit">book</button>
        </form>


        
    </div>
</body>
</html>