<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

{{!-- font awesome  --}}
<!-- Font Awesome CSS (for icons) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/airplane.png" type="logo">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/navstyle.css">

<style>
.imageClass{
 position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
margin-top: 10px;
}
 .error{
  height: 80vh;
  width: 80vw;
  margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

/***************************
             FOOTER
****************************/
footer {
  background-color: var(--primary);
  color: var(--lite);
}

footer h3 {
  color: var(--white);
  margin-bottom: 1.5rem;
}

footer a {
  color: var(--lite);
  display: block;
  margin: 15px 0;
}

footer a:hover {
  color: var(--white);
}

footer fieldset {
  padding: 0;
}

footer fieldset input {
  width: 100%;
  background-color: #5a5a5a;
  border: 0;
  color: var(--lite);
  padding: 1rem;
}

.subcribe-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.subcribe-sec button{
  width: 100%;
}



@media screen and (max-width:504px) {
  footer fieldset input{
    width: 100%;
  }
}

footer fieldset .btn {
  border-radius: 0;
  border: 0;
}

footer fieldset .btn_2:hover {
  background-color: var(--secondary);
  border: 0;
  color: var(--primary);
}

footer .flex:last-child {
  align-items: center;
}

footer .flex:last-child .flex-content:last-child {
  text-align: right;
}

footer .flex:last-child p {
  color: var(--white);
}

footer .flex:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #334f6c;
  color: var(--white);
  padding: 0.5rem;
  margin-right: 3px;
  text-align: center;
}

footer .flex:last-child a:hover {
  transform: scale(1.5);
  border-radius: 50%;
  border: 0.5px solid #fff;
  background-color: #000;
}

@media (max-width: 1100px) {
  footer .flex:first-child {
    flex-wrap: wrap;
  }

  footer .flex:first-child .flex-content {
    flex: 1 1 40%;
  }
}

@media (max-width: 920px) {
  footer .flex:last-child .flex-content:last-child {
    text-align: left;
  }
}

@media (max-width: 320px) {
  footer .flex:first-child .flex-content {
    flex: 1 1 100%;
  }
}

.footer-image a img{
 

  width: 120px;
  height: 80px;
  position: relative;
}
   



</style>



</head>
<body>
    {{>navber}}
  <img class="error" src="Images/404.jpg" alt="">

  {{>generalFooter}}
    
</body>
</html>