<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>kerala Tour Packages</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Font Awesome CSS (for icons) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/airplane.png" type="logo">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="css/packageBody.css">
<link rel="stylesheet" href="css/navstyle.css">
<link rel="stylesheet" href="css/footer.css">
</head>

<body>
 {{>navber}}
  <div class="container mt-3 ">
    <div class="d-flex pb-4">
      <h2>Kerala Tour Packages</h2>
      <!-- <span class="ms-4 pt-2"> | 5 Packages</span> -->
    </div>
  </div>
  <!-- Card 1 -->
  <div class="container-xxl mt-2">
    <div class="row mb-2">
      <div class="col-md-8">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="Indian Holiday/kerala img/Kerala-1.jpg" class="img-fluid card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="#" style="text-decoration: none;" class="link-dark" 
                 >Kerala Delight Winter5N/6D Domestic Group Tour Package: Upto 11000 off*</a></h5>
                <hr style=" margin: 0.1px;">
                    <div><span><small>Customized Holidays:</small></span></div>
                    <div class="icon-container d-flex overflow-auto mt-1">
                      <div class="" style="text-decoration: none;">
                        <span>
                          <i class="fas fa-sun fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                            data-bs-toggle="popover" data-bs-placement="bottom" title="Highlights"
                            data-bs-content=" Explore the vivacious Akshardham Temple, marvel at the architectural beauty of India Gate"></i>
                        </span>
                        <div class="icontext" style="text-align: center;"><small>Highlights</small></div>
                      </div>
                      <div href="#" style="text-decoration: none;">
                        <span>
                          <i class="ri-flight-takeoff-line fa-solid fa-earth-asia fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                            data-bs-toggle="popover" data-bs-placement="bottom" title="Flights" data-bs-content="Flight schedule
                      New Delhi (DEL) to Agra (AGR) · Connecting flights only
                      IndiGo
                        
                      via Bhopal
                        
                      5h 0m+"></i>
                        </span>
                        <div class="icontext" style="text-align: center;"><small>Flights</small></div>
                      </div>
                      <div href="#" style="text-decoration: none;">
                        <span>
                          <i class="fa-solid fa-hotel fa-1x mx-4 p-2 border  rounded-circle btn btn-light icon_hover"
                            data-bs-toggle="popover" data-bs-placement="bottom" title="Hotels"
                            data-bs-content="Hotels content goes here."></i>
                        </span>
                        <div class="icontext" style="text-align: center;"><small>Hotels</small></div>
                      </div>
                      <div href="#" style="text-decoration: none;">
                        <span>
                          <i class="fas fa-camera fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                            data-bs-toggle="popover" data-bs-placement="bottom" title="Sightseeing"
                            data-bs-content="Sightseeing content goes here."></i>
                        </span>
                        <div class="icontext" style="text-align: center;"><small>Sightseeing</small></div>
                      </div>
                      <div href="#" style="text-decoration: none;">
                        <span>
                          <i class="fas fa-utensils fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                            data-bs-toggle="popover" data-bs-placement="bottom" title="Meals"
                            data-bs-content="Meals content goes here."></i>
                        </span>
                        <div class="icontext" style="text-align: center;"><small>Meals</small></div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center h-100" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Pricing</h5>
            <div class="price">
              <h2><span><small>₹</small> 23 099</span></h2>
              <p><small>Starting price per adult</small></p>
            </div>
            <div class="center ">
              <a href="#" class="btn border-danger btn-outline-danger" id="btn_hover">
                Want us to call you?
              </a>
              <a href="#" class="btn btn-danger">BOOK ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="container-xxl">
    <div class="row mb-2">
      <div class="col-md-8">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="Indian Holiday/kerala img/Kerala-2.jpg" class="img-fluid card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="#" style="text-decoration: none;" class="link-dark">Kerala Delight With
                    Excursion To Kanyakumari 7N/8D Domestic Group Tour Package</a></h5>
                <hr style="margin: 0.1px;">
                <div><span><small>Customized Holidays:</small></span></div>
                <div class="icon-container d-flex overflow-auto mt-1">
                  <div class="" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-sun fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Highlights"
                        data-bs-content="Highlights content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Highlights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="ri-flight-takeoff-line fa-solid fa-earth-asia fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Flights"
                        data-bs-content="Flight schedule"></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Flights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fa-solid fa-hotel fa-1x mx-4 p-2 border  rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Hotels"
                        data-bs-content="Hotels content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Hotels</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-camera fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Sightseeing"
                        data-bs-content="Sightseeing content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Sightseeing</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-utensils fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Meals"
                        data-bs-content="Meals content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Meals</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center h-100" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Pricing</h5>
            <div class="price">
              <h2><span><small>₹</small> 3 450</span></h2>
              <p><small>Starting price per adult</small></p>
            </div>
            <div class="center ">
              <a href="#" class="btn border-danger btn-outline-danger" id="btn_hover">
                Want us to call you?
              </a>
              <a href="#" class="btn btn-danger">BOOK ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="container-xxl">
    <div class="row mb-2">
      <div class="col-md-8">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="Indian Holiday/kerala img/Kerala-3.jpg" class="img-fluid card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="#" style="text-decoration: none;" class="link-dark">Backwaters In Kerala
                    3N/4D Domestic Customized Tour Package With Optional Flight</a></h5>
                <hr style="margin: 0.1px;">
                <div><span><small>Customized Holidays:</small></span></div>
                <div class="icon-container d-flex overflow-auto mt-1">
                  <div class="" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-sun fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Highlights"
                        data-bs-content="Highlights content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Highlights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="ri-flight-takeoff-line fa-solid fa-earth-asia fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Flights"
                        data-bs-content="Flight schedule"></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Flights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fa-solid fa-hotel fa-1x mx-4 p-2 border  rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Hotels"
                        data-bs-content="Hotels content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Hotels</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-camera fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Sightseeing"
                        data-bs-content="Sightseeing content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Sightseeing</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-utensils fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Meals"
                        data-bs-content="Meals content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Meals</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center h-100" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Pricing</h5>
            <div class="price">
              <h2><span><small>₹</small> 12 799</span></h2>
              <p><small>Starting price per adult</small></p>
            </div>
            <div class="center ">
              <a href="#" class="btn border-danger btn-outline-danger" id="btn_hover">
                Want us to call you?
              </a>
              <a href="#" class="btn btn-danger">BOOK ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 4 -->
  <div class="container-xxl ">
    <div class="row mb-2">
      <div class="col-md-8 ">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4 ">
              <img src="Indian Holiday/kerala img/Kerala-4.jpg" class="img-fluid card-img " alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="#" style="text-decoration: none; " class="link-dark">Hills Of Kerala 3N/4D
                    Domestic Customized Tour Package With Optional Flight</a></h5>
                <hr style="margin: 0.1px;">
                <div><span><small>Customized Holidays:</small></span></div>
                <div class="icon-container d-flex overflow-auto mt-1">
                  <div class="" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-sun fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Highlights"
                        data-bs-content="Highlights content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Highlights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="ri-flight-takeoff-line fa-solid fa-earth-asia fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Flights"
                        data-bs-content="Flight schedule"></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Flights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fa-solid fa-hotel fa-1x mx-4 p-2 border  rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Hotels"
                        data-bs-content="Hotels content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Hotels</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-camera fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Sightseeing"
                        data-bs-content="Sightseeing content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Sightseeing</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-utensils fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Meals"
                        data-bs-content="Meals content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Meals</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center h-100" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Pricing</h5>
            <div class="price">
              <h2><span><small>₹</small> 19 299</span></h2>
              <p><small>Starting price per adult</small></p>
            </div>
            <div class="center ">
              <a href="#" class="btn border-danger btn-outline-danger " id="btn_hover">
                Want us to call you?
              </a>
              <a href="#" class="btn btn-danger">BOOK ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 5 -->
  <div class="container-xxl ">
    <div class="row mb-2">
      <div class="col-md-8 view overlay zoom">
        <div class="card h-100">
          <div class="row g-0">
            <div class="col-md-4 ">
              <img src="Indian Holiday/kerala img/Kerala-5.jpg" class="img-fluid card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="#" style="text-decoration: none; " class="link-dark">Madurai Rameshwaram
                    Kanyakumari Trivandrum Darshan Budget 5N/6D Domestic Customized Tour Package</a></h5>
                <hr style="margin: 0.1px;">
                <div><span><small>Customized Holidays:</small></span></div>
                <div class="icon-container d-flex overflow-auto mt-1">
                  <div class="" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-sun fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Highlights"
                        data-bs-content="content">
                      </i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Highlights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="ri-flight-takeoff-line fa-solid fa-earth-asia fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Flights"
                        data-bs-content="Flight schedule"></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Flights</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fa-solid fa-hotel fa-1x mx-4 p-2 border  rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Hotels"
                        data-bs-content="Hotels content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Hotels</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-camera fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Sightseeing"
                        data-bs-content="Sightseeing content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Sightseeing</small></div>
                  </div>
                  <div href="#" style="text-decoration: none;">
                    <span>
                      <i class="fas fa-utensils fa-1x mx-4 p-2 border rounded-circle btn btn-light icon_hover"
                        data-bs-toggle="popover" data-bs-placement="bottom" title="Meals"
                        data-bs-content="Meals content goes here."></i>
                    </span>
                    <div class="icontext" style="text-align: center;"><small>Meals</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center h-100" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Pricing</h5>
            <div class="price">
              <h2><span><small>₹</small> 81 099</span></h2>
              <p><small>Starting price per adult</small></p>
            </div>
            <div class="center ">
              <a href="#" class="btn border-danger btn-outline-danger" id="btn_hover">
                Want us to call you?
              </a>
              <a href="#" class="btn btn-danger ">BOOK ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <!-- FOOTER  -->

 
{{>generalFooter}}



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    popoverTriggerList.forEach(function (popoverTriggerEl) {
      new bootstrap.Popover(popoverTriggerEl);
    });
  </script>
</body>

</html>