<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: rgb(77, 73, 73);
  color: white;
}


.edit-btn {
  display: inline-block;
  background-color:red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: red;
}

    </style>
</head>
<body>
    <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
       <th>Role</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td><a href="/edit/{{this._id}}" class="edit-btn">Edit</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

</body>
</html>