@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #292727;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  z-index: 99;

  position: fixed;
}

nav img {
  height: 100px;
  left: -50%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links {
  padding: 10px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

/* NAVBER RESPONSIVE */
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media screen and (max-width: 1078px) {
  nav {
    height: 70px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  label #btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  nav img {
    height: 50px;
  }
}

@media screen and (max-width: 1074px) {
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #34495e;
    top: 70px;
    left: -100%;
    text-align: center;
    display: block;
    transition: all 0.2s;
  }
  nav ul li {
    margin: 20px 0;
  }
  .nav-menu li a {
    font-size: 25px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }
}

.login-section i {
  font-size: 1.5rem;
  padding: 0 10px;
}

.login-section a {
  text-decoration: none;
}

.login-section a u {
  color: #fff;
  font-size: 1rem;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;

  z-index: -1;
}

#main {
  position: relative;

  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 6vw;
  font-weight: 900;
}

#page1 h2 {
  font-size: 2vw;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
}

@media screen and (max-width: 1068px) {
  #page1 h1 {
    font-size: 8vw;
    font-weight: 900;
  }

  #page1 h2 {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  #page1 h1 {
    font-size: 10vw;
    font-weight: 900;
  }
  #page1 h2 {
    font-size: 5vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 4vw;
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #000; */
  /* z-index: 10; */
}

#cursor {
  height: 15px;
  width: 15px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 100px;
  width: 100px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  filter: blur(20px);
  z-index: 9;
}

#search-input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  font-size: 1rem;
  border: none;
}

#search button {
  background-color: red;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

#search button:hover {
  background-color: rgb(179, 0, 0);
}

#search {
  margin-top: 30px;
}

@media screen and (max-width: 524px) {
  #search-input {
    width: 95%;
  }
  #search button {
    margin-top: 20px;
  }
}

.container {
  display: grid;
  place-items: center;
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slide-container {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
}

.slide-image {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}

.slide-image img {
  width: 100%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;

  transition: transform 1s;
}

.slide-image img:hover {
  transform: scale(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@media screen and (max-width: 774px) {
  .slide-image img {
    height: 250px;
  }
}

#page2 h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

#page2 h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.readmore {
  /* padding: 0 50px; */
  width: 85%;
  margin: auto;
  color: #fff;
}

.card-section {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10px;
  /* height: 300px; */
  margin-top: 20px;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}

.card img {
  height: 100%;
  object-fit: cover;
  position: center;
}

.card-body {
  position: absolute;
  text-align: center;
}

.card-body h2 {
  font-size: 3vw !important;
  position: relative;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .card-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    /* background-color: red !important; */
    /* position: relative; */

    .card {
      position: relative;
      width: 90vw !important;
      margin: auto;
    }
  }
  .card img {
    position: absolute;
  }
  .card-body h2 {
    font-size: 7vw !important;
    position: relative;
  }
}

.international {
  margin-top: 50px;
}

summary {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
.why-section {
  width: 90%;
  /* height: 300px; */
  margin: auto;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

.card1 {
  height: 370px;
  width: 250px;
  /* background-color: red; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.card1 img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
}
.card1 p {
  width: 90%;
  position: relative;
  margin: auto;
}
.card1 h4 {
  padding: 20px 10px 0 10px;
  margin-top: 10px;
}
.why-section h1 {
  color: #fff;
  font-size: 2rem;
  padding: 50px 20px 20px 20px;
}

.card1-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1112px) {
  .card1-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .card1 {
    height: 250px;
    width: 90%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .card1 h4 {
    padding: 10px;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }

  .card1 p {
    width: 100%;
  }
}

@media screen and (max-width: 454px) {
  .card1 {
    height: 350px;
    width: 100%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }

  .card1 p {
    width: 100%;
    position: relative;
    /* margin: auto; */
    padding: 10px;
  }

  .card1 h4 {
    padding: 0;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }
  card1 p {
    width: 100%;
  }
}


#page4{
  width: 100%;
  height: 100vh;
  background-color: #000;
}




/* contact form css in home page  */

/* color-gray: #515151;
color-black: #000; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.form-main {
  background: linear-gradient(to bottom, #00000024, #00000024),
    url('/Images/andaman.jpg')
      no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main-wrapper {
    border-radius: 10px;
    padding: 45px;
    width: 40%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #ffffff85;
    @media screen and (max-width: 991px) {
      width: 70%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
    .form-head {
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0 25px;
    }
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid color-black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid color-gray;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: color-gray;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid color-black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid color-gray;
          }

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: color-gray;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        .form-textarea-label {
          position: absolute;
          left: 25px;
          top: 30%;
          transform: translateY(-70%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }
  }
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 16px 0 0;
  }
.btn-wrap button {
  padding: 0 32px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.5s ease;
  cursor: pointer; box-shadow: 0 0 5px 5px #00000020;
}
.btn-wrap button:hover {
  border: 1px solid #000;
  background: transparent;
  
}
/* contact form css in home page  */



.footer {
  position: relative;
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:35%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover{
  color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}





/* FOOTER  */

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  padding-bottom: 8px !important;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo img {
  max-width: 120px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 21px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
  position: absolute;
  color: #ff5e14;
}
.footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
  padding-left: 32px;
}
.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
  color: #14ffa7;
}
.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
  color: #ffd700;
}
.footer-social-icon .social_icon {
  text-align: left;
}
.footer-social-icon .social_icon li {
  float: inherit !important;
  display: inline-block !important;
  width: inherit;
}
.footer-social-icon .social_icon li a i {
  font-size: 15px;
  line-height: 39px;
}
.footer-social-icon .social_icon li a {
  width: 40px;
  height: 40px;
}

.social_icon {
  text-align: right;
  margin: 0;
  margin-top: 3px;
}
.social_icon li {
  display: inline-block;
  margin: 0 5px;
}
.social_icon li a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}
.social_icon li a i {
  font-size: 15px;
  line-height: 20px;
}
.social_icon li:nth-child(1) a {
  background: #4267b2;
  color: #fff;
}
.social_icon li:nth-child(2) a {
  background: #1da1f2;
  color: #fff;
}
.social_icon li:nth-child(3) a {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #fff;
}
.social_icon li:nth-child(4) a {
  background: #ff0000;
  color: #fff;
}
.social_icon li:nth-child(1):hover a {
  background: #fff;
  color: #4267b2;
}
.social_icon li:nth-child(2):hover a {
  background: #fff;
  color: #1da1f2;
}
.social_icon li:nth-child(3):hover a {
  background: #fff;
  color: #bc1888;
}
.social_icon li:nth-child(4):hover a {
  background: #fff;
  color: #ff0000;
}
