@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #292727;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  z-index: 99;

  position: fixed;
}

nav img {
  height: 100px;
  left: -50%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links {
  padding: 10px 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

/* NAVBER RESPONSIVE */
label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media screen and (max-width: 1078px) {
  nav {
    height: 70px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  label #btn {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  nav img {
    height: 50px;
  }
}

@media screen and (max-width: 1074px) {
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #34495e;
    top: 70px;
    left: -100%;
    text-align: center;
    display: block;
    transition: all 0.2s;
  }
  nav ul li {
    margin: 20px 0;
  }
  .nav-menu li a {
    font-size: 25px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }
}

.login-section i {
  font-size: 1.5rem;
  padding: 0 10px;
}

.login-section a {
  text-decoration: none;
}

.login-section a u {
  color: #fff;
  font-size: 1rem;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;

  z-index: -1;
}

#main {
  position: relative;

  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 6vw;
  font-weight: 900;
}

#page1 h2 {
  font-size: 2vw;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
}

@media screen and (max-width: 1068px) {
  #page1 h1 {
    font-size: 8vw;
    font-weight: 900;
  }

  #page1 h2 {
    font-size: 3vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  #page1 h1 {
    font-size: 10vw;
    font-weight: 900;
  }
  #page1 h2 {
    font-size: 5vw;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 4vw;
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #000; */
  /* z-index: 10; */
}

#cursor {
  height: 15px;
  width: 15px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 100px;
  width: 100px;
  background-color: #df6329;
  border-radius: 50%;
  position: fixed;
  filter: blur(20px);
  z-index: 9;
}

#search-input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  color: #000;
  font-size: 1rem;
  border: none;
}

#search button {
  background-color: red;
  color: #fff;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

#search button:hover {
  background-color: rgb(179, 0, 0);
}

#search {
  margin-top: 30px;
}

@media screen and (max-width: 524px) {
  #search-input {
    width: 95%;
  }
  #search button {
    margin-top: 20px;
  }
}

.container {
  display: grid;
  place-items: center;
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slide-container {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
}

.slide-image {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}

.slide-image img {
  width: 100%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;

  transition: transform 1s;
}

.slide-image img:hover {
  transform: scale(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@media screen and (max-width: 774px) {
  .slide-image img {
    height: 250px;
  }
}

#page2 h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

#page2 h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.readmore {
  /* padding: 0 50px; */
  width: 85%;
  margin: auto;
  color: #fff;
}

.card-section {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10px;
  /* height: 300px; */
  margin-top: 20px;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}

.card img {
  height: 100%;
  object-fit: cover;
  position: center;
}

.card-body {
  position: absolute;
  text-align: center;
}

.card-body h2 {
  font-size: 3vw !important;
  position: relative;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .card-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    /* background-color: red !important; */
    /* position: relative; */

    .card {
      position: relative;
      width: 90vw !important;
      margin: auto;
    }
  }
  .card img {
    position: absolute;
  }
  .card-body h2 {
    font-size: 7vw !important;
    position: relative;
  }
}

.international {
  margin-top: 50px;
}

summary {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
.why-section {
  width: 90%;
  /* height: 300px; */
  margin: auto;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

.card1 {
  height: 370px;
  width: 250px;
  /* background-color: red; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.card1 img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 10px;
}
.card1 p {
  width: 90%;
  position: relative;
  margin: auto;
}
.card1 h4 {
  padding: 20px 10px 0 10px;
  margin-top: 10px;
}
.why-section h1 {
  color: #fff;
  font-size: 2rem;
  padding: 50px 20px 20px 20px;
}

.card1-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1112px) {
  .card1-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .card1 {
    height: 250px;
    width: 90%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .card1 h4 {
    padding: 10px;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }

  .card1 p {
    width: 100%;
  }
}

@media screen and (max-width: 454px) {
  .card1 {
    height: 350px;
    width: 100%;
    /* background-color: red; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }

  .card1 p {
    width: 100%;
    position: relative;
    /* margin: auto; */
    padding: 10px;
  }

  .card1 h4 {
    padding: 0;
  }

  .why-section {
    width: 100%;
    /* height: 300px; */
    margin: 10px;
  }
  card1 p {
    width: 100%;
  }
}


#page4{
  width: 100%;
  height: 100vh;
  background-color: #000;
}