  <!-- FOOTER  -->

  <footer class="bg-dark text-center text-lg-start text-white mt-5">
    <!-- Grid container -->
    <div class="container p-5">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">See other Places</h5>

          <ul class="list-unstyled mb-0 p-2">
            <li>
              <a href="/index" class="text-white text-decoration-none"><i class="fas fa-book fa-fw fa-sm me-2"></i>Home</a>
            </li>
            <li>
              <a href="/contact" class="text-white text-decoration-none"><i
                  class="fas fa-book fa-fw fa-sm me-2"></i>Contact</a>
            </li>
            <li>
              <a href="/blog" class="text-white text-decoration-none"><i
                  class="fas fa-book fa-fw fa-sm me-2"></i>Blogs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Resources</h5>

          <ul class="list-unstyled ">
            <li>
              <a href="#!" class="text-white  text-decoration-none"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i></i>Guides</a>
            </li>
            <li>
              <a href="#!" class="text-white  text-decoration-none"><i
                  class="fas fa-backspace fa-fw fa-sm me-2  "></i>Agencies</a>
            </li>
            <li>
              <a href="#!" class="text-white  text-decoration-none"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i></i>Experts</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i
                  class="far fa-file-alt fa-fw fa-sm me-2  "></i>Research</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled ">
            <li>
              <a href="#!" class="text-white text-decoration-none">ExploreWorld Travel Agency, 123 Park Street, Kolkata, West Bengal, India - 700017</a>
            </li>
           
           
            <li>
              <a href="#!" class="text-white text-decoration-none "><i
                  class="fas fa-backspace fa-fw fa-sm me-2  "></i>Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase  text-decoration-none">For More Details</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white text-decoration-none"></i>0033-5268-25</a>
            </li>
            
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>exploreworld@gmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Subscribe us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright || Explore

    </div>
    <!-- Copyright -->
  </footer>