<!-- NAVBER SECTION  -->
    <nav>
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <img src="/Images/explore logo.png" alt="logo-image" />
      <ul class="nav-menu">
        <li class="nav-links"><a href="">DESTINATION</a>
            <div class="mega-drop">
              <div class="mega-grid">
                <div class="mega-child-div">
                  <p>INDIAN HOLIDAY DESTINATIONS</p>
                  <ul class="mega-links">
                    <li><a href="/andaman">Andaman </a></li>
                    <li><a href="/gujrat">Gujrat</a></li>
                    <li><a href="/jammu">Jammu</a></li>
                    <li><a href="/kerala">Kerala</a></li>
                    <li><a href="/rajasthan">Rajasthan</a></li>
                  </ul>
                </div>
                <div class="mega-child-div">
                  <p>INTERNATIONAL DESTINATIONS</p>
                  <ul class="mega-links">
                    <li><a href="International Holiday/Austrelia Tour.html">Australia</a></li>
                    <li><a href="International Holiday/Canada Tour.html">Canada</a></li>
                    <li><a href="International Holiday/Europe Tour.html">Europe</a></li>
                    <li><a href="International Holiday/South Africa Tour.html">South Africa</a></li>
                    <li><a href="International Holiday/America Tour Package.html">America</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </li>
        <li class="nav-links"><a href="#">RAILS</a></li>
        <li class="nav-links"><a href="#">CRUISE</a></li>
        <li class="nav-links"><a href="#">FLIGHTS</a></li>
        <li class="nav-links"><a href="#">HOTELS</a></li>
        <li class="nav-links"><a href="#">VISA</a></li>

        <!-- OTHERS BUTTON DROPDOWN  -->
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            OTHERS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item dropdown"><a class="dropdown-item" href="#">ABOUT US
            </a>
            </li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">SERVICES</a>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/html/contactUs.html">CONTACT US</a>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">BLOGS</a>
            </li>
          </ul>
        </li>




        

        <!-- </li> -->
      </ul>
      <!-- LOGIN PORTION  -->
      <div class="login-section">
        <a class="login" href="/html/login.html">Log in </a>
        <button type="submit" >Sign up</button>
      </div>
    </nav>
  <!-- NAVBER SECTION END -->
