<!-- NAVBER SECTION  -->
  <nav>
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <img src="/Images/explore logo.png" alt="logo-image" />
      <ul class="nav-menu">
        
         <li class="nav-item dropdown px-4 fw-bold">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INDIAN 
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li class="dropdown-item text-white fw-bold bg-danger" > INDIAN DESTINATIONS</li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold" href="/andaman">Andaman</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="/gujrat">Gujrat</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="/kerala">Kerala</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="/jammu">Jammu</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="/kashmir">Kasmir</a></li>
                           <li><a class="dropdown-item text-white fw-bold" href="/rajasthan">Rajasthan</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INTERNATIONAL
          </a>
          <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
             <li class="dropdown-item text-white bg-danger fw-bold" > INTERNATIONAL DESTINATIONS</li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold warning" href="#">America</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="#">Canada</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="#">South Africa</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="#">Europe</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="#">Australia</a></li>
                         
          </ul>
        </li>

        <li class="nav-links"><a href="#">RAILS</a></li>
        <li class="nav-links"><a href="#">CRUISE</a></li>
        <li class="nav-links"><a href="#">FLIGHTS</a></li>
        <li class="nav-links"><a href="#">HOTELS</a></li>
        

        <!-- OTHERS BUTTON DROPDOWN  -->
        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            OTHERS
          </a>
          <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
            <li class="nav-item dropdown"><a class="dropdown-item text-white fw-bold" href="#">ABOUT US
            </a>
            </li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold" href="#">SERVICES</a>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-white fw-bold" href="/html/contactUs.html">CONTACT US</a>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-white fw-bold" href="#">BLOGS</a>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-white fw-bold" href="#">VISA</a>
            </li>
          </ul>
        </li>




        

        <!-- </li> -->
      </ul>
      <!-- LOGIN PORTION  -->
      <div class="login-section">
        <a class="login" href="/html/login.html">Log in </a>
        <button type="submit" >Sign up</button>
      </div>
    </nav>
  <!-- NAVBER SECTION END -->
