<!-- NAVBER SECTION  -->
  <nav>
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <a href="/"><img src="/Images/explore logo.png" alt="logo-image" /></a>
      
      <ul class="nav-menu">
        
         <li class="nav-item dropdown px-4 fw-bold">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INDIAN 
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li class="dropdown-item text-white fw-bold bg-danger"> INDIAN DESTINATIONS </li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold" href="/andaman">Andaman</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="/gujrat">Gujrat</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="/kerala">Kerala</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="/jammu">Jammu</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="/kasmir">Kasmir</a></li>
                           <li><a class="dropdown-item text-white fw-bold" href="/rajasthan">Rajasthan</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INTERNATIONAL
          </a>
          <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdown">
             <li class="dropdown-item text-white bg-danger fw-bold" > INTERNATIONAL DESTINATIONS</li>
                 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white fw-bold warning" href="/america">America</a></li>
            <li><a class="dropdown-item text-white fw-bold" href="/canada">Canada</a></li>
                <li><a class="dropdown-item text-white fw-bold" href="/africa">South Africa</a></li>
                    <li><a class="dropdown-item text-white fw-bold" href="/europe">Europe</a></li>
                        <li><a class="dropdown-item text-white fw-bold" href="/austrelia">Australia</a></li>
                         
          </ul>
        </li>

         <li class="nav-links"><a href="/nearbyPlaces">HOTELS</a></li>
         <li class="nav-links"><a href="/chat">CHATS</a></li>
        <li class="nav-links"><a href="/blog">BLOGS</a></li>
        <li class="nav-links"><a href="/about">ABOUT</a></li>
         <li class="nav-links"><a href="/contact">CONTACT</a></li>

       
        

    




        

        <!-- </li> -->
      </ul>
      <!-- LOGIN PORTION  -->
      {{!-- <div class="login-section">
        <a class="loginClass" class="login" href="/login">Log in </a>
       <a class="buttonClass" href="/signup"><button type="submit" >Sign up</button></a> 
      </div> --}}
      <div class="login-section">
  {{#if loggedIn}}
    <form action="/logout" method="GET">
      <a type="submit" class="logout">Log out</a>
    </form>
  {{else}}
    <a class="loginClass" class="login" href="/login">Log in </a>
    <a class="buttonClass" href="/signup"><button type="submit">Sign up</button></a> 
  {{/if}}
</div>

    </nav>
  <!-- NAVBER SECTION END -->
